/*There is nothing more permanent then a temporary solution*/
body{
    background-color: slategrey;
}
h1{
    color: azure;
    text-align: center;
    font-family: Arial, serif;
    font-size: 30px;
}
h2{
    color: azure;
    text-align: center;
    font-family: Arial, serif;
    font-size: 25px;
}
p{
    font-family: Arial, serif;
    font-size: 20px;
    color: white;
}
table{
    color: aliceblue;
    font-family: Arial, serif;
    font-size: 15px;
    text-align: center;
}
th{
    font-size: 20px;
}
footer p{
    font-size: 10px;
}